@{
    //if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    //{
    //    Layout = (string)parentLayout;
    //}
    //else
    //{
    //    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    //}
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h5>Manage your account</h5>

<div>
    <h6>Change your account settings</h6>
    <hr />
    <div class="row">
        <partial name="_ManageNav" />
    </div>
    <div class="p-2">
        @RenderBody()
    </div>
</div>


@RenderSection("Scripts", required: false)

